<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>꽃시장</title>

    <!-- Chart import -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <!-- 부트스트랩 import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- jQuery를 import -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        #popup {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .7);
            z-index: 1;
        }

        #popup.hide {
            display: none;
        }

        #popup.has-filter {
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
        }

        #popup .content {
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        }

        .file_input_div {
            position:relative;
            width:80px;
            height:36px;
            overflow:hidden;
        }
        .file_input_img_btn {
            padding:0 0 0 5px;
        }
        .file_input_hidden {
            font-size:29px;
            position:absolute;
            right:0px;
            top:0px;
            opacity:0;
            filter: alpha(opacity=0);
            -ms-filter: alpha(opacity=0);
            cursor:pointer;
        }
        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }
        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
            text-align: center;
        }
        thead tr {
            background-color: gray;
            color: #ffffff;
        }
        tbody tr:nth-child(2n) {
            background-color: #bbdefb;
        }
        tbody tr:nth-child(2n+1) {
            background-color: #e3f2fd;
        }
        .input-image {
            max-width: 100%;
            height: auto;
        }
    </style>

</head>
<body>
<center>
    <div id="image_container">
        <!-- 썸네일 이미지틀 -->
        <img style="width: 640px; height: 480px;" id="thum-img" src="{{url_for('static', filename='img/default.png')}}">
    </div>

    <!-- 이미지 선택 버튼 -->
    <form id="ImageSelect2" name="img_select2" enctype="multipart/form-data">
        <div class="file_input_div">
            <img src="{{url_for('static', filename='img/open.png')}}" class="file_input_img_btn" alt="open">
            <input type="file" id="input-image" name="input-image" class="file_input_hidden" onchange="imageDetect()">
        </div>
    </form>

    <!-- 디텍션 목록 출력 -->
    <div id="result_detection">
    </div>

    <!-- 팝업 -->
    <div id="popup" class="hide">
        <div class="content">
            <form>
                <h4>올바른 결과를 입력해주세요.</h4>
                <select name="fl_item" id="fl_item" onchange="typeSelect()">
                    <option value="none">=== 품목 ===</option>
                    <option value="카네이션">카네이션</option>
                    <option value="국화">국화</option>
                    <option value="용담">용담</option>
                    <option value="거베라">거베라</option>
                    <option value="데이지">데이지</option>
                    <option value="안개">안개</option>
                    <option value="수국">수국</option>
                    <option value="백합">백합</option>
                    <option value="튜립">튜립</option>
                    <option value="장미">장미</option>
                    <option value="해바라기">해바라기</option>
                </select>
                <select name="fl_type" id="fl_type">
                    <option value="none">=== 품종 ===</option>
                </select>
                <input type="button" value="확인" onclick="submitOk()"/>
                <input type="button" value="취소" onclick="closePopup();"/>
            </form>
                        
        </div>
      </div>

    <!-- 유저 의견 반영 팝업 버튼 -->
    <div id="button_container">
    </div>
    
    <!-- 분석 결과 출력 -->
    <div class="result_label">
        <table>
            <!-- 테이블 헤드 -->
            <thead>
                <tr>
                    <th>품목</th>
                    <th>품종</th>
                    <th>등급</th>
                    <th>속수량</th>
                    <th>낙찰금액</th>
                    <th>입고날짜</th>
                </tr>
            </thead>
            <!-- 테이블 목록(DB 필요) -->
            <tbody id="flower-list">
            </tbody>
        </table>
    </div>

    <!-- 분석 결과(그래프) -->
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        // 팝업 띄우기
        function showPopup() {
            const popup = document.querySelector('#popup');
            popup.classList.remove('hide');
        }
        // 팝업 확인 버튼
        function submitOk(){
            if (`${"fl_item"}` != "none" || `${"fl_type"}` != "none") {
                $("#flower-detect").append(
                `<option id="option-flower" value=${fl_item.value}_${fl_type.value} onclick="imageAnalyse()">${fl_item.value}_${fl_type.value}</option>`)
                closePopup()
            } else
                alert("정확한 값을 입력해주세요.")
        }
        // 팝업 감추기
        function closePopup() {
            const popup = document.querySelector('#popup');
            popup.classList.add('hide');
        }
        // 품목에 맞는 품종 보여주기
        function typeSelect(){
            $("#fl_type").empty();
            $("#fl_type").append('<option value="none">=== 품종 ===</option>')
            if ($("#fl_item option:selected").val() == "카네이션"){
                $("#fl_type").append('<option value="핑크">핑크</option>')
                $("#fl_type").append('<option value="레드">레드</option>')
            }
            else if($("#fl_item option:selected").val() == "국화"){
                $("#fl_type").append('<option value="코스모스">코스모스</option>')
                $("#fl_type").append('<option value="백선">백선</option>')
                $("#fl_type").append('<option value="디스버드">디스버드</option>')
            }
            else if($("#fl_item option:selected").val() == "용담"){
                $("#fl_type").append('<option value="용담">용담</option>')
            }
            else if($("#fl_item option:selected").val() == "거베라"){
                $("#fl_type").append('<option value="거베라">거베라</option>')
            }
            else if($("#fl_item option:selected").val() == "데이지"){
                $("#fl_type").append('<option value="데이지">데이지</option>')
                $("#fl_type").append('<option value="겹">겹</option>')
            }
            else if($("#fl_item option:selected").val() == "안개"){
                $("#fl_type").append('<option value="오버타임">오버타임</option>')
            }
            else if($("#fl_item option:selected").val() == "수국"){
                $("#fl_type").append('<option value="그린">그린</option>')
                $("#fl_type").append('<option value="핑크">핑크</option>')
            }
            else if($("#fl_item option:selected").val() == "백합"){
                $("#fl_type").append('<option value="메두사">메두사</option>')
                $("#fl_type").append('<option value="시베리아">시베리아</option>')
            }
            else if($("#fl_item option:selected").val() == "튜립"){
                $("#fl_type").append('<option value="레드">레드</option>')
                $("#fl_type").append('<option value="로얄버진">로얄버진</option>')
            }
            else if($("#fl_item option:selected").val() == "장미"){
                $("#fl_type").append('<option value="푸에고">푸에고</option>')
                $("#fl_type").append('<option value="하젤">하젤</option>')
            }
            else if($("#fl_item option:selected").val() == "해바라기"){
                $("#fl_type").append('<option value="해바라기">해바라기</option>')
                $("#fl_type").append('<option value="겹">겹</option>')
            }
        }
        // 그래프 뼈대
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    {
                        label: "최고가격",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "skyblue",
                        borderColor: "skyblue"

                    },
                    {
                        label: "최저가격",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "pink",
                        borderColor: "pink"

                    },
                    {
                        label: "평균가격",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "gray",
                        borderColor: "gray"

                    }
                ]
            },
            options: {
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var data = data || {};

        // YOLOv5 이미지 디텍션
        function imageDetect() {
            let fileValue = $("#input-image").val().split("\\");
            var formDataRaw = $('#ImageSelect2')[0];
            var form_data = new FormData(formDataRaw);
            let flowerPoom
            let flowerGood
            $.ajax({
                type: 'POST',
                url: '/image_detect',
                data: form_data,
                contentType: false, // 해당 타입을 true로 하면 일반 text
                cache: false,
                processData: false, // 데이터 객체를 문자열로 바꿀지에 대한 값, true면 일반문자
                async: false,       // 비동기 여부
                success: function(results) {
                    console.log(typeof(results))
                    console.log(results)
                    // 디텍션 결과 이미지 출력
                    $("#image_container").empty();
                    $("#image_container").append(
                        `<img style="width: 640px; height: 480px;" id="thum-img" src="/static/${fileValue[2]}_box.png">`

                    )
                    // 디텍션 결과 꽃 리스트 출력
                    $("#result_detection").empty();
                    $("#result_detection").append(
                        `<select id="flower-detect" size=6>
                            <option value="">---꽃 선택---</option>
                        </select>`
                    )
                    for (let i = 0; i < results.length; i++) {
                        $("#flower-detect").append(
                            `<option id="option-flower" value=${results[i]} onclick="imageAnalyse()">${results[i]}</option>`
                        )
                    }

                    // 유저 의견 반영 팝업 버튼
                    $("#button_container").empty();
                    $("#button_container").append(
                            '<input type="button" value="원하시는 결과가 나오지 않으셨나요?" onclick="showPopup();" />'
                        )      
                }
            })
        }

        // 선택한 꽃 분석
        function imageAnalyse() {
            let flowerValue = $("#flower-detect option:selected").val();
            let flowerPoom
            let flowerGood
            $.ajax({
                type: "GET",
                url: "/analyse_result?flower_name=" + flowerValue,
                data:{},
                // 성공 시 DB 값 가져와서 테이블 생성
                success: function(results) {
                    console.log(flowerValue)
                    console.log("분석 결과")
                    // tbody 비우기
                    $("#flower-list").empty();
                    // tbody 하위 요소 추가
                    for (let i = 0; i < results.length; i++) {
                        let flower = results[i];
                        $("#flower-list").append(
                            `<tr>
                                 <td>${flower["poomname"]}</td>
                                <td>${flower["goodname"]}</td>
                                <td>${flower["lvname"]}</td>
                                <td>${flower["qty"]}</td>
                                <td>${flower["cost"]}</td>
                                <td>${flower["dateinfo"]}</td>
                            </tr>`
                        )
                        flowerPoom = flower["poomname"]
                        flowerGood = flower["goodname"]
                    }
                    console.log(flowerPoom + "_" + flowerGood + " 그래프 그리기")
                    
                    // 가져온 DB 값과 json 파일명 대조하여 그래프 그리기
                    // examine example_data.json for expected response data
                    var json_url = '/static/json/' + flowerPoom + '_' + flowerGood + '.json'
                    console.log(json_url)

                    $.getJSON(json_url, data).done(function(response) {
                        myChart.data.labels = response.labels;
                        myChart.data.datasets[0].data = response.data.max; // or you can iterate for multiple datasets
                        myChart.data.datasets[1].data = response.data.min;
                        myChart.data.datasets[2].data = response.data.avg;
                        myChart.update(); // finally update our chart
                    });

                }
                
            })
            
        }
        
    </script>

</center>
</body>
</html>